@model IEnumerable<EntityLayer.Concreate.SubAbout>


<p>Anasayfa Sub About</p>
<p> 
    @foreach (var item in Model) {
    <table>
        <tr>
            
            <td>


                    <h1>@item.Title</h1>
                    <h2>@item.Id</h2>
                    <h3>@item.Description</h3>

            </td>
        </tr>
        </table>
    }
</p>
