
@{
    ViewData["Title"] = "MyAprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>MyAprovalReservation</h1>
<h2>@ViewBag.v</h2>
<table class="table table-bordered"> 

</table>