
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel rapor oluşturma sayfasına hoşgeldiniz</h1>
<br />
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info">Static Rapor</a>
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-info">Destination Rapor</a>

