@model TraverselCore.Models.UserRegisterViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Invent Signup Form Responsive Widget Template | Home :: W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		  content="Invent Signup Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!--/Style-CSS -->
	<link rel="stylesheet" href="~/TraversalSignUpTheme-main/web/css/style.css" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body>
	<!-- /login-section -->
	<section class="w3l-login-6">
		<div class="login-hny">
			<div class="form-content">
				<div class="form-right">
					<div class="overlay">
						<div class="grid-info-form">
							<h5>Say hello</h5>
							<h3>CREATE ACCOUNT </h3>
							<p>
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est natus facere aperiam!
								Tenetur maiores dolore a quod pariatur ut voluptates quae saepe ea quasi laudantium,
								iste molestias inventore fuga assumenda.
							</p>
							<a href="index.html" class="read-more-1 btn">Get Started</a>
						</div>

					</div>
				</div>
				<div class="form-left">
					<div class="middle">
						<h4>Join Us</h4>
						<p>Create Your Account, It's Free.</p>
					</div>
					<form method="post" class="signin-form">
						<div class="form-input">
							<label>Name</label>
							<input type="text" asp-for="Name"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Surname</label>
							<input type="text" asp-for="SurName"/>
							<span asp-validation-for="SurName" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Username</label>
							<input type="text" asp-for="UserName" />
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Gender</label>
							<input type="text" asp-for="Gender" />
							<span asp-validation-for="Gender" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Image</label>
							<input type="text" asp-for="ImageUrl" />
							<span asp-validation-for="ImageUrl" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Email</label>
							<input type="email" asp-for="Email" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Password</label>
							<input type="password" asp-for="Password"/>
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="form-input">
							<label>Password Again</label>
							<input type="password" asp-for="ConfirmPassword" />
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>

						<label class="container">
							I agree to <a href="#">Conditions</a> of Use and <a href="#">Privacy</a>
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>
						<button class="btn">Create account</button>
					</form>
					<div class="copy-right text-center">
						<p>
							© @DateTime.Now.Year Invent Signup. All rights reserved | Design by Ibrahim ALTSOY
							<a href="http://w3layouts.com/" target="_blank">W3layouts</a>
						</p>
					</div>
				</div>

			</div>

		</div>
	</section>
	<!-- //login-section -->
</body>

</html>
@*<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kullanıcı Kayıt Ekranı</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- LINEARICONS -->
	<link rel="stylesheet" href="~/colorlib-regform-26/fonts/linearicons/style.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/colorlib-regform-26/css/style.css">
</head>

<body>
	
	<div class="wrapper">
		<div class="inner">
			<img src="~/colorlib-regform-26/images/image-1.png" alt="" class="image-1">
			<form method="post">
				<h3>New Account?</h3>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input type="text" class="form-control" placeholder="Name" name="Name">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					<input type="text" class="form-control" placeholder="Surname" name="SurName">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-envelope"></span>
					<input type="text" class="form-control" placeholder="Mail" name="Email">
				</div>
				<div class="form-holder">
					
					<span class="lnr lnr-phone-handset"></span>
					<input type="text" class="form-control" placeholder="Username" name="UserName">
				</div>
			
				<div class="form-holder">

					<span class="lnr lnr-phone-handset"></span>
					<input type="text" class="form-control" placeholder="Cinsiyet" name="Gender">
				</div>
				<div class="form-holder">

					<span class="lnr lnr-phone-handset"></span>
					<input type="text" class="form-control" placeholder="Resim" name="ImageUrl">
				</div>
				//buraya kadar
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input type="password" class="form-control" placeholder="Password" name="Password">
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					<input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword">
				</div>

				<button>
					<span>Register</span>
				</button>
				<div class="text-center p-t-136">
					<a class="txt2" href="/Login/SignIn/">
						Sign in your Account
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
			</form>
			
			<img src="~/colorlib-regform-26/images/image-2.png" alt="" class="image-2">
		</div>

	</div>

	<script src="~/colorlib-regform-26/js/jquery-3.3.1.min.js"></script>
	<script src="~/colorlib-regform-26/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>*@