@model List<AnnouncementListDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var number = 0;
}

<h1>Duyuru Sayfasına Hoşgeldiniz</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Detaylar</th>
    </tr>
    @foreach(var item in Model)
    {
        number++; 
        <tr>
            <td>@number</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td><a href="#" class="btn btn-outline-info">Detaylar</a>|<a href="/Admin/Announcement/AnnouncementDelete/@item.Id" class="btn btn-outline-danger">Sil</a>|<a href="/Admin/Announcement/AnnouncementUpdate/@item.Id" class="btn btn-outline-success">Düzenle</a></td>
        </tr>

    }
</table>

<br />
<a href="/Admin/Announcement/AddAnnouncement/" class="btn btn-primary">Duyuru Ekle</a>